body {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

h1 {
  color: #ee5025;
  font-size: 42px;
  text-align: center;
}

.search-bar {
  background-color: #b6d2ff;
  color: #535353;
  border-style: none;
  border-color: #fffff4;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  width: 75%;
}

::placeholder {
  color: #535353;
}

#submit-button {
  background-color: #3663ab;
  color: #fffff4;
  border-style: none;
  border-color: #fffff4;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  width: 20%;
}

.box {
  background-color: #fffff4a5;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 90%;
}

h2 {
  margin: 40px 0 20px;
}
.current-date {
  margin: 20px 0 20px;
}
.current-forecast {
  line-height: 6px;
  font-size: 14px;
  margin: 40px 0 40px;
}

.temperature {
  position: absolute;
  right: 40px;
  top: 120px;
  font-size: 36px;
  font-weight: 700;
}
.temperature .temperature-unit {
  font-size: 20px;
  position: absolute;
  top: 5px;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

li {
  background-color: #fffff4a5;
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  padding: 5px;
  padding-bottom: 15px;
  text-align: center;
  width: 80%;
  max-width: 110px;
}

hr {
  max-width: 640px;
  margin: 0 auto;
}
footer {
  clear: both;
  text-align: center;
  font-size: 14px;
  padding-top: 40px;
}
.foot-note {
  padding: 5px 0px 10px;
}
